footer
  background-color: #1f2124

#country-select
  padding-left: 30px
  position relative
  width: 150px;
  margin-right 5px
  color white
  background: url("../img/globe-ico.png"), url("../img/arrow-down.png")
  background-repeat: no-repeat, no-repeat
  background-position: 5% 50%, 95% 50%

.sub-footer
  padding 20px 3px
  border-top 1px solid #333538

.rights
  color: #6d6e70;
  font 400 11px 'Open Sans'
  display: inline-block
  margin-left: 15px

.footer-social-links li a i
  margin-right 15px

.footer-social-links li
  margin-left: 20px
  text-decoration underline

.footer-social-links li a
  color #6d6e70
  font 400 14px "Myriad Pro"
  &:hover
    color #5c96c3


