label
  font 700 13px 'Open Sans'

select
  outline none
  padding 10px 20px 10px 10px
  color #6a7f8c;
  font 500 13px "Helvetica Neue"
  border none
  appearance none
  background transparent url("../img/arrow-down.png") no-repeat
  background-position 83% 53%

input[type="email"]
input[type="text"]
input[type="url"]
input[type="number"]
select
  width: 100%
  outline none
  border-radius: 4px;
  border 1px solid #d1d5d7;
  padding: 7px 10px
  font 400 14px 'Open Sans'

.form
  &-section
    border 1px solid #dbdbdb
    border-top none
    background-color #fff
    width 100%
    padding 5% 10%

  &-title
    color #32404a
    font 700 24px "Helvetica Neue"
    letter-spacing 2px
    text-align center

#image-input-preview
  width: 100%
  background #f3f4f5 no-repeat url('../img/vector-smart-object.png')
  background-position: 50% 50%
  height 120px
  margin-bottom: 3%

#image-input-validation
  margin-bottom: 5%
  line-height: 1
  color: #6a7f8c
  font 400 13px/16px 'Open Sans'

#image-input-error
  font 400 11px  'Open Sans'
  margin-bottom 1%

#default-domain
  float left
  border-top-right-radius 0
  border-bottom-right-radius 0
  border-right none
  width 25%

#url-input
  border-top-left-radius 0
  border-bottom-left-radius 0
  width 75%

#skype-input
#email-input
  width 95%

#business-description
  resize none
  outline none
  width 100%
  height 90px
  padding 11px
  font 400 14px 'Open Sans'
  border-radius 4px
  border 1px solid #d1d5d7

#skype-input
#site-input
  margin-bottom 10%

#business-description
#url-input
#email-input
  margin-bottom 4%

#phone-code
  color #000000
  float left
  border-right 0
  padding-right 30px
  width 20%
  border-bottom-right-radius 0
  border-top-right-radius 0

#phone-number
  width: 75%
  border-bottom-left-radius 0
  border-top-left-radius 0

.form-controls
.address-section
.schedule-section
  margin-top 5%

.phone-section
  margin-top 2%
  margin-bottom 1%

.number-connect
  font 700 13px 'Open Sans'
  width 70%
  display inline-flex
  justify-content space-between
  li
    margin-top 7px

.week-days
.day-selection
.time-selection
  border-radius 4px
  width 230px
  border 1px solid #d1d5d7
  font 400 14px 'Open Sans'

.time-selection
.day-selection
  background transparent url("../img/arrow-down.png") no-repeat
  background-position 95% 53%
  display: inline-block
  padding: 10px
  margin-top: 10px
  position relative

.week-days
.schedule
  margin-bottom 10px
  padding 5px 14px
  flex-direction column
  left 0
  top 5px
  display none
  list-style none
  position relative
  margin-bottom 5px

  label
    font-weight 400

  li
    display block
    width 100%
    margin 5px 0
    color #32414b

#working-time
  padding: 10px
  width 200px
  background-position 95% 53%
  margin-left: 30px;

.time-selection
  margin-left 25px

.time-picker
  width 54px

.schedule
  padding 7px
  width 260px;
  height 53px;
  box-shadow: 0 0 5px rgba(107, 121, 132, 0.2)
  border 1px solid #dbdbdb

  input[type="time"]
    border none
    outline none
    background-color: #edeeef
    padding: 5px

.schedule .checkbox-item
  left 10px

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-buttonб
input[type=time]::-webkit-clear-button
  display none

#map
  margin-top: 1%
  width 100%
  height 300px












