main
  margin-top 1%

.info-section
  margin-top 1%

.manager
.statistic
  display inline-flex
  align-items center
  width 100%
  background-color #fff
  height 80px
  border 1px solid #dbdbdb
  padding-right: 5%

  &-info
    display inline-block
    vertical-align top

  &-title
    display inline-block
    font 400 12px 'Open Sans'
    color: #b4bfc5

  &-phone
    margin 3px 0 3px 0
    position relative
    color #6a7f8c
    font 400 12px 'Helvetica Neue'

  &-photo
    margin-left 10px
    padding 2px
    border 1px solid #E4C566
    margin-right 10px
    display inline-block
    height 50px
    width 50px
    border-radius 50%
    overflow hidden
    img
      width 100%
      border-radius 50%

  &-counter
    margin 0
    color: #32414b;
    font bold 20px 'Open Sans'

  ul
    padding 0 12% 0 3%
    display flex
    justify-content space-between
    width 100%


.manager-title
  color #32414b
  font 700 14px 'Open Sans'


.manager
  i
    margin-right 10px

  position relative
  background #fff url("../img/arrow-down.png") no-repeat
  background-position: 95% 50%

  &:hover
    cursor pointer

.manager-add-info
  background-color: #fff
  border 1px solid #dbdbdb
  border-top none
  width 100%
  padding-left 70px
  display none
  position absolute
  top 81%
  left 0
  z-index 2
  color #6a7f8c
  font 400 12px 'Helvetica Neue'
  li
    display block
    margin 10px 0
    .fa-skype
      color #00aef0
    i
      margin-right 10px

