.main-nav
  background-color #fff
  padding 0
  border 1px solid #dbdbdb
  border-top-right-radius 4px
  border-top-left-radius 4px

  .nav-item
    font 400 14px 'Open Sans'
    display: inline-block
    color #999999
    position relative
    top -1px
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    &:hover
      border-top 4px solid #5286b3

  .active
    border-top 4px solid #5286b3
    color #5286b3 !important
    font-weight bold

.nav-link
  padding 20px 0
  margin 0 30px

.new-link:after
  content "NEW"
  position relative
  top -14px
  right 0
  font bold 9px 'Open Sans'
  color white
  background-color #ed145b
  padding 0 4px
  border-radius 3px

.footer-nav
  display inline-block
  padding: 20px 2px
  color: #ffffff
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;

.footer-nav ul li a
  color: #ffffff
  &:hover
    color #5c96c3
    text-decoration none

.footer-nav ul li
  margin-right: 32px

  &:last-child
    margin-right: 0