@import "nib"
@import "_header.styl"
@import "_buttons.styl"
@import "_notifications.styl"
@import "_info-section.styl"
@import "_navigations.styl"
@import "_form-section.styl"
@import "_footer.styl"
@import "_checkbox.styl"

body
  background-color: #f5f5f5
  min-width 971px

ul
  list-style none
  margin 0
  padding 0
  li
    display: inline-block

p
  margin: 0

main
  margin-bottom 5%

.container
  width 971px

.no-padding
  padding 0

.navbar-toggler
  z-index 2
  margin: 1%







